<a href="https://colab.research.google.com/github/tylee33/DLforFinance/blob/master/Stock_Correlations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Stock Covariance & Correlations**

Covariance measures the directional relationship between the returns on two assets. A positive covariance means that asset returns move together while a negative covariance means they move inversely. Covariance is calculated by analyzing at-return surprises (standard deviations from the expected return) or by multiplying the correlation between the two variables by the standard deviation of each variable. (https://www.investopedia.com/terms/c/covariance.asp)
Stock correlation explained the relationship that exists between two stocks and their respective price movements which has a value that must fall between -1.0 and +1.0.
A perfect positive correlation means that the correlation coefficient is exactly 1. This implies that as one security moves, either up or down, the other security moves in lockstep, in the same direction. A perfect negative correlation means that two assets move in opposite directions, while a zero correlation implies no relationship at all. (https://www.investopedia.com/terms/c/correlation.asp)

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

import warnings
warnings.filterwarnings("ignore")

# fix_yahoo_finance is used to fetch data 
import fix_yahoo_finance as yf
yf.pdr_override()

**Two Securities Correlation**

In [2]:
# input
symbols = ['AMD','INTC']
start = '2012-01-01'
end = '2019-01-01'

# Read data 
dataset = yf.download(symbols,start,end)['Adj Close']

# View Columns
dataset.head()

[*********************100%***********************]  2 of 2 downloaded

             AMD       INTC
Date
2012-01-03  5.48  19.226799
2012-01-04  5.46  19.673389
2012-01-05  5.46  19.900604
2012-01-06  5.43  19.783070
2012-01-09  5.59  19.955444

In [0]:
stocks_returns = np.log(dataset / dataset.shift(1))

In [4]:
AMD = stocks_returns['AMD'].var() 
AMD

0.0013675618444054449

In [5]:
INTC = stocks_returns['INTC'].var() 
INTC

0.00022174926369329965

In [6]:
cov_matrix = stocks_returns.cov()
cov_matrix

           AMD      INTC
AMD   0.001368  0.000172
INTC  0.000172  0.000222

In [8]:
print('Covariance Matrix')
cov_matrix = stocks_returns.cov()*250
cov_matrix

Covariance Matrix

           AMD      INTC
AMD   0.341890  0.043085
INTC  0.043085  0.055437

In [9]:
print('Correlation Matrix')
corr_matrix = stocks_returns.corr()*250
corr_matrix

Correlation Matrix

             AMD        INTC
AMD   250.000000   78.239575
INTC   78.239575  250.000000

**Four Securities Correlation**

In [10]:
# input
symbols = ['AAPL','MSFT','AMD','NVDA']
start = '2012-01-01'
end = '2019-01-01'

# Read data 
dataset = yf.download(symbols,start,end)['Adj Close']

# View Columns
dataset.head()

[*********************100%***********************]  4 of 4 downloaded

                 AAPL   AMD       MSFT       NVDA
Date
2012-01-03  51.115936  5.48  22.080940  12.929856
2012-01-04  51.390648  5.46  22.600586  13.077204
2012-01-05  51.961189  5.46  22.831539  13.546881
2012-01-06  52.504375  5.43  23.186216  13.390319
2012-01-09  52.421093  5.59  22.881027  13.390319

In [0]:
stocks_returns = np.log(dataset / dataset.shift(1))

In [12]:
AAPL = stocks_returns['AAPL'].var() 
AAPL

0.00025807535873387195

In [13]:
MSFT = stocks_returns['MSFT'].var() 
MSFT

0.00021096766928776573

In [14]:
AMD = stocks_returns['AMD'].var() 
AMD

0.0013675618444054449

In [15]:
NVDA = stocks_returns['NVDA'].var() 
NVDA

0.0005325809979459117

In [16]:
AAPL = stocks_returns['AAPL'].var() * 250
AAPL

0.06451883968346799

In [17]:
MSFT = stocks_returns['MSFT'].var() * 250 
MSFT

0.05274191732194143

In [18]:
AMD = stocks_returns['AMD'].var() * 250 
AMD

0.34189046110136123

In [19]:
NVDA = stocks_returns['NVDA'].var() * 250 
NVDA

0.13314524948647793

In [20]:
cov_matrix = stocks_returns.cov()
cov_matrix

          AAPL       AMD      MSFT      NVDA
AAPL  0.000258  0.000133  0.000094  0.000121
AMD   0.000133  0.001368  0.000136  0.000348
MSFT  0.000094  0.000136  0.000211  0.000143
NVDA  0.000121  0.000348  0.000143  0.000533

In [21]:
print('Covariance Matrix')
cov_matrix = stocks_returns.cov()*250
cov_matrix

Covariance Matrix

          AAPL       AMD      MSFT      NVDA
AAPL  0.064519  0.033303  0.023565  0.030209
AMD   0.033303  0.341890  0.034009  0.086893
MSFT  0.023565  0.034009  0.052742  0.035644
NVDA  0.030209  0.086893  0.035644  0.133145

In [22]:
print('Correlation Matrix')
corr_matrix = stocks_returns.corr()*250
corr_matrix

Correlation Matrix

            AAPL         AMD        MSFT        NVDA
AAPL  250.000000   56.057063  100.993903   81.482620
AMD    56.057063  250.000000   63.316328  101.816603
MSFT  100.993903   63.316328  250.000000  106.337983
NVDA   81.482620  101.816603  106.337983  250.000000